<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css"
        integrity="sha512-SzlrxWUlpfuzQ+pcUCosxcglQRNAq/DZjVsC0lE40xsADsfeQoEypE+enwcOiGjk/bSuGGKHEyjSoQ1zVisanQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="/static/css/style.css">


    <title>Sign In</title>
</head>

<body>
    <header>
        <div class="header">
            <h2><a href="/" class="header-link">Connectify</a></h2>
        </div>
    </header>


    <img src="/static/uploadFiles/images/Connectify.jpg" alt="connectify-logo" class="logo-img">
    <p>Connecting people, one click at a time.</p>


    <div class="container">
        <div class="sign-in-content">
            <div class="title">Sign In</div>
            <form action="/loginauth" method="POST">
                <div class="row">
                    <i class="fas fa-user"></i>
                    <input type="text" name="user_name" placeholder="Username" required>
                </div>
                <div class="row">
                    <i class="fas fa-lock"></i>
                    <input type="password" name="user_password" placeholder="Password" required>
                </div>
                {{if .PasswordError}}
                <div class="error-message">
                    <p>{{.PasswordError}}</p>
                </div>
                {{else if .SignInError}}
                <div class="error-message">
                    <p>{{.SignInError}}</p>
                </div>
                {{end}}
                <div class="row button">
                    <input type="submit" value="Log in" class="btn">
                </div>
                <div class="member-link">
                    Not a member? <a href="./register.html">Register Now</a>
                </div>
           
                    or:
                
                <a href="/google-login" class="google btn">
                    <i class="fab fa-google fa-fw"></i> Login with Google
                </a>

                <a href="/github-login" class="github btn">
                    <i class="fab fa-github fa-fw"></i> Login with Github
                </a>

            </form>
        </div>
    </div>

</body>

</html>